/*---- Variables */

:root {
  /*------ Colores */
  --orangeAsas-color: #fa9506;
  --blueAsas-color: #253451;
  --white-color: white;
  /*------ Tipografía */
  --normal: 12px;
  /*------ Espaciado */
  --space: 10px;
  --space-2: 20px;
  /*------ Box shadow*/
  --box: 0px 0 2px 1px #e6e5e9;
}

/* -------------------------- */

html {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%; /* tamaño predeterminado 16px */
  color: var (--blueAsas-color);
}

.wrapper {
  padding: 0 3.125em;
}

/* -----  navBar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  border: 1px solid grey;
  margin: 1.25em 0 0.625em 0;
}

nav a img {
  height: 65px;
  margin-left: 0.625em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

nav a:hover {
  color: var(--orangeAsas-color);
}

/* --------- */

/*----- main section */

.mainSection {
  background-image: url(../images/backgroundPpal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  padding: 0.625em;
  margin: 0;
  /* text-decoration: dotted; */
  /* text-shadow: derecha abajo difuminado Color; */
  text-shadow: 1px 2px gray;
  /* text-shadow: -1px 0 gray, 1px 0 gray, 0 1px gray, 0 -1px gray; */
}

/* --------- */

/*----- servicios */
h2 {
  color: var(--orangeAsas-color);
  text-align: center;
  font-size: 1.2em;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container_service {
  width: 17.5em;
  padding: 0.1%;
  text-align: center;
}

.text {
  border: 1px solid gray;
  text-align: start;
}

.serviceText {
  border: 1px solid gray;
  border-radius: 25px;
  text-align: start;
  /* padding: auto 10px; */
}

ul {
  list-style-type: "\2714";
}

li {
  padding-left: 10px;
}

h3 {
  margin-top: 50px;
  text-align: center;
  font-size: 1.0625em;
}

h4 {
  color: orange;
}

.serviceTitle {
  margin-top: 10px;
  text-align: center;
  font-size: 1.0625em;
}

p {
  text-align: justify;
  font-size: 0.9375em;
  font-style: oblique;
  margin: 0 5px;
}

.services img {
  border-radius: 50%;
}

.container_service img {
  height: 70px;
  width: 70px;
  margin-bottom: -45px;
}

.main_btn {
  background-color: var(--orangeAsas-color);
  color: var(--white-color);
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 0.9375em;
  cursor: pointer;
  margin: 10px 0 10px 5px;
}

.main_btn:hover {
  background-color: orangered;
}
/* ------fin services */

/* ------slogan */

.slogan {
  background-image: url(../images/sloganImage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.slogan h2 {
  font-size: 2.32em;
  /* text-shadow: derecha abajo difuminado Color; */
  text-shadow: 1px 2px gray;
}

/* --- Contactos */
.col-6 {
  color: var(--orangeAsas-color);
}

.formulario {
  border: 1px solid lightgrey;
}

.data,
textarea {
  width: 95%;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  margin-bottom: 6px;
}

.horario {
  text-align: center;
  margin: auto 0;
  /* align-items: center; */
}

.horario p {
  text-align: center;
  color: black;
}

/* -----fotter */
/*--- leftfooter */

.footer {
  margin-top: 0.625em;
  background-color: var(--orangeAsas-color);
  padding-top: 0.625em;
  color: white;
}

h5 {
  margin: 0 10px;
}

.chat {
  margin-left: 0.3125em;
}

.socialLeft {
  align-items: center;
  display: inline-flex;
}

.whatsImage {
  display: flex;
  width: 27px;
  height: 27px;
}

#imgMail {
  height: 20px;
  width: 25px;
}

.email {
  display: flex;
  text-decoration: none;
  color: white;
}

/*--- rightfooter */
.socialMedia {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6em;
}

.socialLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

#socialImage {
  display: inline-block;
  width: 2.0625em;
  height: 2.0625em;
}

#linkedin {
  width: 5.625em;
  height: 1.425em;
}

.facebook,
.instagram,
.youtube {
  margin-right: 10px;
}
